@media only screen and (min-width: 1200px) {
    .container-our {
        max-width: 902px;
        padding-left: 0;
        padding-right: 0;
    }

}

@media only screen and (min-width: 1400px) {
    .popup {
        width: 1132px;
    }
}

@media only screen and (max-width: 1400px) {
    .blue-chat, .purple-chat {
        display: none;
    }

    .popup .close {
        right: 82px;
        top: 2px;
    }

    .x-white {
        display: none;
    }

    .x-black {
        display: initial;
    }
    .about-project-content {
        margin: 8% 12%;
    }
}

@media only screen and (max-width: 1200px) {
    .kartli-chatbot-content, .imereti-chatbot-content {
        width: 90%;
        margin: 0 auto;
        justify-content: center;
    }

    .kartli-chatbot-title, .imereti-chatbot-title {
        font-size: 36px;
    }
}

@media only screen and (max-width: 991px) {
    .container-two {
        width: initial;
    }

    .all-chatbots {
        display: flex;
        flex-wrap: wrap;

    }

    .chatbots-box {
        margin: 0 auto 12px;
    }

    .history-nav {
        margin-top: 28px;
    }

    .history-nav .nav-item .nav-link {
        font-family: 'FiraGo';
        font-size: 14px;
        line-height: 17px;
        color: #08092B;
        padding-left: 0;
        padding-right: 0;
    }

    .kartli-img, .imereti-img {
        width: 35%;
    }

    .kartli-chatbot-item {
        margin-top: 18px;
    }

    .imereti-chatbot-item {
        margin-top: 30px;
        margin-left: 30px;
    }

    .kartli-chatbot-bg {
        padding-top: 60px;
    }

    .other-chatbots-arrow {
        width: 50%;
    }

    .kartli-chatbot-title, .imereti-chatbot-title {
        font-size: 28px;
    }

    .kartli-chatbot-p, .imereti-chatbot-p {
        margin-top: 16px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    .kartli-chatbot-a, .imereti-chatbot-a {
        margin-top: 22px;
    }

    .about-project-item {
        padding: 50px;
    }

    /* imereti chatbot */

    .imereti-chatbot-box img {
        width: 35%;
    }

    .imereti-chatbot-box-p {
        padding-top: 24px;
    }
    .close-icon {
        display: none;
    }

    .close-black {
        display: initial;
    }

    .popup .close {
        right: 136px;
        top: 20px;
    }
    .imereti-chatbot-box-content {
        padding: 48px 40px 0 67px;
    }
    .kartli-chatbot-box-content {
        padding: 68px 40px 0 67px;
    }
}

@media only screen and (max-width: 768px) {
    .chatbot__container{
      right: 10px;
      bottom: 10px;
    }


    #chatbotIframe {
      width: 300px !important;
    }

    .history-footer {
        margin-top: 75px;
        padding-bottom: 65px;
    }

    .kartli-chatbot-content, .imereti-chatbot-content {
        width: 100%;
    }

    .kartli-chatbot-item {
        margin-top: 20px;
    }

    .imereti-chatbot-item {
        margin-top: 30px;
        margin-left: 30px;
    }

    .kartli-chatbot-title, .imereti-chatbot-title {
        font-size: 24px;
        line-height: 28px;
    }

    .kartli-chatbot-a {
        font-size: 14px;
    }

    .header-content-h1 {
        font-size: 36px;
        line-height: 48.2px;
    }

    .header-content {
        margin-top: 126px;
        padding-bottom: 130px;
        position: relative;
    }

    .header-content-line {
        left: -37px;
        top: -28px;
        width: 16%;
    }

    .other-chatbots-h4 {
        font-size: 24px;
        line-height: 28.4px;
    }

    .kartli-chatbot-a, .imereti-chatbot-a {
        font-size: 14px;
        line-height: 17.2px;
    }

    .navbar-toggler {
        padding: 0.25rem 0;
    }

    .other-chatbots-arrow {
        display: none;
    }

    .small-arrow {
        display: initial;
    }

    /* imereti chatbot */
    .imereti-chatbot-box-content {
        padding: 16px 10px 0 20px;
    }
    .kartli-chatbot-box-content {
        padding: 42px 10px 0 20px;
    }

    .imereti-chatbot-box-p {
        padding-top: 12px;
    }

    .popup .close {
        right: 65px;
        top: 20px;
    }

    .about-project-content {
        margin: 12% 8%;
    }

    .popup {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 615px) {
    .header-content-line {
        left: -10px;
        top: -19px;
        width: 61px;
    }

    /* imereti chatbot */
    .history-chatbot-main {
        padding: 72px 20px;
    }
}

@media only screen and (max-width: 567px) {
    .chatbots-box {
        margin-bottom: 12px;
    }

    .chatbots-title-h2 {
        font-size: 36px;
    }

    .chatbots-create-a {
        padding: 19px 22px;
    }

    .chatbots-box-title-a {
        margin-top: 23px;
    }

    .chatbots-box-img1 img {
        width: 100%;
    }

    .header-content-button a {
        line-height: 4.4px;
    }

    .talk-chatbot, .create-chatbot {
        padding: 20px;
        border-radius: 8px;
    }

    .kartli-chatbot-item {
        margin-left: 18px;
    }

    .Education-logo-emis {
        margin-right: 20px;
    }

    .kartli-chatbot-a, .imereti-chatbot-a {
        font-size: 12px;
        line-height: 15.2px;
        margin-top: 15px;
    }

    .kartli-chatbot-p, .imereti-chatbot-p {
        font-size: 12px;
    }

    .kartli-chatbot-title, .imereti-chatbot-title {
        font-size: 20px;
    }

    .kartli-chatbot-a img, .imereti-chatbot-a img {
        margin-right: 8px;
        width: 20px;
        height: 20px;
    }

    .kartli-chatbot-item {
        margin-top: 12px;
    }

    .imereti-chatbot-item {
        margin-top: 15px;
        margin-left: 0;
        margin-right: 12px;
    }

    .kartli-chatbot-bg {
        padding-top: 45px;
    }

    .about-project-item {
        padding: 50px 30px;
    }

    .imereti-chatbot-box-p {
        padding-top: 5px;
    }
    .imereti-chatbot-box-content {
        padding: 15px 10px 15px 20px;
    }
    .kartli-chatbot-box-content {
        padding: 32px 10px 15px 20px;
    }



    .imereti-chatbot-box-title {
        font-size: 24px;
        line-height: 39.2px;
    }

}

@media only screen and (max-width: 500px) {

    /* index page */
    .Education-logo {
        margin-bottom: 45px;
    }

    .footer-copyright-span {
        text-align: center;
    }

    .footer-nav-a {
        flex-direction: column;
        display: flex;
    }

    .Education-logo {
        display: flex;
        justify-content: center;
        margin-bottom: 35px;
    }

    .history-footer-end {
        flex-direction: column;
        margin-top: 55px;
    }


    /* imereti page */
    .imereti-chatbot-box-p {
        padding-top: 15px;
    }

    .imereti-chatbot-box-title {
        font-size: 20px;
    }

    .popup .close {
        right: 50px;
        top: 20px;
    }

    .imereti-chatbot-box img {
        width: 100%;
        margin: 0 auto;
    }

    .imereti-chatbot-box {
        flex-direction: column;
    }

    .imereti-chatbot-box-content {
        padding: 40px 20px 50px 20px;
    }
}

@media only screen and (max-width: 450px) {

    /* index page */
    .kartli-img, .imereti-img {
        width: 30%;
    }

    .kartli-chatbot-bg, .imereti-chatbot-bg {
        padding: 45px 0;
    }

    .kartli-chatbot-title, .imereti-chatbot-title {
        font-size: 17px;
    }

    /* imereti page */
    /* .imereti-chatbot-box img {
        width: 100%;
        margin: 0 auto;
    }

    .imereti-chatbot-box {
        flex-direction: column;
    }

    .imereti-chatbot-box-content {
        padding: 40px 10px 60px 34px;
    } */
}

@media only screen and (max-width: 415px) {

    .chatbots-box-contant {
        padding-top: 24px;
        padding-left: 15px;
    }

    .chatbots-create-a {
        padding: 19px 14px;
    }

    .chatbots-title-h2 {
        font-size: 24px;
    }

    .header-content-button {
        flex-direction: column;
        width: 58%;
    }

    .talk-chatbot {
        margin-right: 0;
    }

    .create-chatbot {
        text-align: center;
        margin-top: 20px;
    }

    .talk-chatbot, .create-chatbot {
        padding: 25px;
    }

    .about-project-item {
        padding: 50px 15px;
    }
}

@media only screen and (max-width: 415px) {
    .imereti-chatbot-box-content {
        padding: 40px 15px 60px 15px;
    }
    .chatbots-box-title {
        font-size: 14px;
    }
}
