@import "./partials/fonts.css";
@import "./partials/reset.css";
@import "./components/inputs.css";
@import "./components/buttons.css";



@import "./pages/index.css";
@import "./pages/chatbots.css";
@import "./pages/imereti-chatbot.css";
@import "./pages/kartli-chatbot.css";
@import "./responsive.css";




@media only screen and (min-width: 1200px) {
    .chatbots-box {
        width: 50%;
    }
      
    .chatbots-box-img img {
        width: 230px;
    }

    .chatbots-box-img {
        display: flex;
    }

    .imereti-chatbot-box img {
        width: 37%;
    }
    
    
  }


.chatbots-box-title {
    line-height: 1.4;
    font-size: 16px;
}

.chatbots-box-title-span {
   font-size: 22px;
}


.chatbots-box-img  {
    display: flex;
    align-items: center;
}

.chatbots-box {
    display: flex;
    justify-content: space-between;
}


@media only screen and (max-width: 567px) {
.chatbots-box-img1 img {
    width: 100%;
}
}


@media only screen and (max-width: 1199px) and (min-width: 568px) {
.chatbots-box-img img {
    width: 264px;
}

.chatbots-box {
    width: 70%;
}
}